# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.exp
*.tlog
*.idb
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.user
*.dat

#Temp files
*.VC.opendb
*.VC.db
*.suo
*.pdb

#ignore files
*.licenseheader
*.vcxproj.user

#Debugger files

#ignore directories
builds/win/ratel.basic/Debug/
builds/win/ratel.basic/x64/Debug/
builds/win/ratel.basic/Release/
builds/win/ratel.basic/x64/Release
builds/win/ratel.kernel/Debug/
builds/win/ratel.kernel/x64/Debug/
builds/win/ratel.kernel/Release/
builds/win/ratel.kernel/x64/Release/
builds/win/ratel.doc/Debug/
builds/win/ratel.doc/x64/Debug/
builds/win/ratel.doc/Release/
builds/win/ratel.doc/x64/Release/
builds/win/ratel.package/Debug/
builds/win/ratel.package/x64/Debug/
builds/win/ratel.package/Release/
builds/win/ratel.package/x64/Release/
builds/win/ratel.filesys/Debug/
builds/win/ratel.filesys/x64/Debug/
builds/win/ratel.filesys/Release/
builds/win/ratel.filesys/x64/Release/
builds/win/ratel.sqlite/Debug/
builds/win/ratel.sqlite/x64/Debug/
builds/win/ratel.sqlite/Release/
builds/win/ratel.sqlite/x64/Release/
builds/win/testbasic/Debug/
builds/win/testbasic/x64/Debug/
builds/win/testbasic/Release/
builds/win/testbasic/x64/Release/
builds/win/testpackage/Debug/
builds/win/testpackage/x64/Debug/
builds/win/testpackage/Release/
builds/win/testpackage/x64/Release/
builds/win/testsqlite/Debug/
builds/win/testsqlite/x64/Debug/
builds/win/testsqlite/Release/
builds/win/testsqlite/x64/Release/
builds/win/_bin/
builds/win/Debug/
builds/win/Release/
builds/win/x64/
builds/win/.vs/
*.pdb
*.pdb
builds/win/ratel.sqlite/x64/Debug/vc140.pdb
*.pdb
