# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.exp
*.tlog
*.idb
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#Temp files
*.VC.opendb
*.VC.db
*.suo

#ignore files
*.licenseheader

#Debugger files

#ignore directories
builds/win/ratel/ratel.basic/Debug/
builds/win/ratel/ratel.basic/x64/Debug/
builds/win/ratel/ratel.basic/Release/
builds/win/ratel/ratel.basic/x64/Release
builds/win/ratel/ratel.kernel/Debug/
builds/win/ratel/ratel.kernel/x64/Debug/
builds/win/ratel/ratel.kernel/Release/
builds/win/ratel/ratel.kernel/x64/Release/
builds/win/ratel/ratel.doc/Debug/
builds/win/ratel/ratel.doc/x64/Debug/
builds/win/ratel/ratel.doc/Release/
builds/win/ratel/ratel.doc/x64/Release/
builds/win/ratel/ratel.package/Debug/
builds/win/ratel/ratel.package/x64/Debug/
builds/win/ratel/ratel.package/Release/
builds/win/ratel/ratel.package/x64/Release/
builds/win/ratel/ratel.filesys/Debug/
builds/win/ratel/ratel.filesys/x64/Debug/
builds/win/ratel/ratel.filesys/Release/
builds/win/ratel/ratel.filesys/x64/Release/
builds/win/ratel/testbasic/Debug/
builds/win/ratel/testbasic/x64/Debug/
builds/win/ratel/testbasic/Release/
builds/win/ratel/testbasic/x64/Release/
builds/win/ratel/_bin/
builds/win/ratel/Debug/
builds/win/ratel/Release/
builds/win/ratel/x64/
builds/win/ratel/.vs/
